<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>404 EPIC LOLZ NoT Fowwnd</title>
  <link rel="stylesheet" href="/stylesheets/css/main.css">
  <link rel="stylesheet" href="/stylesheets/css/about.css">
  <style>
    .super-center {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -250px;
      margin-left: -350px;
    }
  </style>
</head>

<body class="about">

  <header class="group">

    <form>

      <h1><a href="/">CodePen.io</a></h1>

    </form>
      
  </header>

  <div class="wrap">

    <img src="/images/404.png" class="super-center">     

  </div>

  <%= partial :footer %>

</body>