<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>About CodePen</title>
  <link rel="stylesheet" href="/stylesheets/css/main.css">
  <link rel="stylesheet" href="/stylesheets/css/flat.css">
</head>

<body class="about">

  <header class="group">

    <form>

      <h1 class="logo"><a href="/">CodePen.io</a></h1>

      <div class="box-actions">

        <a href="/" class="button">
          Brand New Pen
        </a> 

      </div> <!-- div.box-actions -->

    </form>
      
  </header>

  <div class="wrap">

    <h2>About CodePen</h2>

    <p>CodePen is little one-page app for playing around with front end code. Enter HTML, CSS, and JavaScript and the combined result is displayed below. This is extremely useful for showing off demos, troubleshooting, demonstrating bugs, or anything else you can think of.</p>

    <h2>CodePen is Open Source</h2>

    <p>Which means you can:</p>

    <ul>
      <li><a href="https://github.com/CodePen/CodePen/">Fork it on GitHub</a></li>
      <li><a href="https://github.com/CodePen/CodePen/issues?sort=created&direction=desc&state=open">Submit issues</a></li>
      <li>Pretty much do whatever you want with it, including install it on your own server.</li>
    </ul>

    <h2>Authors</h2>
    <ul class="authors">
      <li>
        <img src="/images/author-alex.jpg" alt="Picture of Alex Vazquez">
        <a href="http://almostpolished.com/">Alex Vazquez</a>
      </li>
      <li>
        <img src="/images/author-tim.jpg" alt="Picture of Tim Sabat">
        <a href="http://boomboomboom.biz/">Tim Sabat</a>
      </li>
      <li>
        <img src="/images/author-chris.jpg" alt="Picture of Chris Coyier">
        <a href="http://chriscoyier.net">Chris Coyier</a>
      </li>
    </ul>

    <p>Special thanks to <a href="http://dribbble.com/joshpuckett">Josh Puckett</a> for the UI help.</p>

    <h2>Official Browser Support List</h2>

    <ul>
      <li>Chrome (Any Version)</li>
      <li>Firefox 4+</li>
      <li>Safari 4+</li>
      <li>Opera 11+</li>
      <li>IE 8+</li>
    </ul>

    <p>We'll go deeper if we can, but no promises (in fact this list might not be totally working just yet). We realize you might be using CodePen to troubleshoot things in older browsers. If that's the case, you can append /full to the end of any CodePen demo URL to get the full page result to test in older browsers.</p>

    <p>Also, no mobile support quite yet, but we'd love to get there.</p>

  </div>

</body>