<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>About CodePen</title>
  <link rel="stylesheet" href="/stylesheets/css/main.css">
</head>

<body class="about">

  <header class="group">

    <form>

      <h1>CodePen.io</h1>

    </form>
      
  </header>

  <%= partial :footer %>

</body>