<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>About CodePen</title>
  <link rel="stylesheet" href="/stylesheets/css/main.css">
  <link rel="stylesheet" href="/stylesheets/css/about.css">
</head>

<body class="about">

  <header class="group">

    <form>

      <h1><a href="/">CodePen.io</a></h1>

    </form>
      
  </header>

  <div class="wrap">

    <h2>About CodePen</h2>
    <p>CodePen is little one-page app for playing around with front end code. Enter HTML, CSS, and JavaScript and the combined result is displayed below. This is extremely useful for showing off demos, troubleshooting, demonstrating bugs, or anything else you can think of.</p>

    <h2>Authors</h2>
    <ul class="authors">
      <li>
        <img src="/images/author-alex.jpg" alt="Picture of Alex Vazquez">
        Alex Vazquez
      </li>
      <li>
        <img src="/images/author-tim.jpg" alt="Picture of Tim Sabat">
        Tim Sabat
      </li>
      <li>
        <img src="/images/author-chris.jpg" alt="Picture of Chris Coyier">
        Chris Coyier
      </li>
    </ul>

  </div>

  <%= partial :footer %>

</body>