<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>CodePen Embed</title>
  <link rel="stylesheet" href="/stylesheets/css/embed.css">
</head>

<body>

  <nav class="group">
    <!-- These should say preprocessor if there is one -->
    <a class="active">HTML</a>
    <a>CSS</a>
    <a>JS</a>
    <a>Result</a>
  </nav>

  <div id="output">

    <div id="html">
        <textarea id="html" class="code-box"></textarea>
    </div>

    <div id="css">
    </div>

    <div id="js">
    </div>

    <div id="result">
    </div>

  </div>

  <%= js_scripts([
      '/js/libs/jquery.js',
      '/js/libs/codemirror.js',
      '/js/mode/javascript/javascript.js',
      '/js/mode/css/css.js',
      '/js/mode/xml/xml.js',
      '/js/embed.js'
      ], 'embed')
  %>

</body>

</html>