<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>CodePen Embed</title>
  <link rel="stylesheet" href="/stylesheets/css/embed.css">
</head>

<body>

  <nav>
    <!-- These should say preprocessor if there is one -->
    <a>HTML</a>
    <a>CSS</a>
    <a>JS</a>
    <a>Result</a>
  </nav>

  <div id="output">

  </div>

</body>

</html>