<!-- make doctype n stuff -->

<% @errors.each do |type, msg| %>
    <p>There was an error with <%= type %> :(</p>
    <p><strong><%= msg %></strong></p>
<% end %>

<!-- Line Numbers -->

<!-- Class Name for which preprocessor -->