<footer>

    <% randomNum = rand(11)+1 %>
    
    <% if randomNum == 1 %>
      <p><strong>CodePen Fact</strong>: We use <a href="http://ejohn.org/blog/javascript-micro-templating/">JavaScript Micro-Templating</a> by John Resig to build the live demo shown at the bottom of the page.</p>
    <% elsif randomNum == 2 %>
      <p><strong>Did You Know?</strong> You can press Command-G (or Control-G on PC) to save your current code to your GitHub account as a Gist.</p>
    <% elsif randomNum == 3 %>
      <p><strong>CodePen Fact</strong>: We use <a href="http://jquery.com">jQuery</a> for the DOM manipulation, Ajax, keyboard commands, and all sorts of other stuff on the front end of CodePen.</p>
    <% elsif randomNum == 4 %>
      <p><strong>Net Karma</strong>: CodePen is a great tool for creating <a href="http://css-tricks.com/reduced-test-cases/">reduced test cases</a> to clearly demonstrate browser bugs or bugs in other projects.</p>
    <% elsif randomNum == 5 %>
      <p><strong>CodePen Fact</strong>: We use <a href="http://www.sinatrarb.com/">Sinatra</a> as the simple Ruby framework behind CodePen.</p>
    <% elsif randomNum == 6 %>
      <p><strong>Hot Tip</strong>: Need to link up a popular JavaScript resource? Get URL from <a href="http://www.cdnjs.com/">cdnjs.com</a></p>
    <% elsif randomNum == 7 %>
      <p>DEMO OR IT DIDN'T HAPPEN</p>
    <% elsif randomNum == 8 %>
      <p><strong>Hot Tip</strong>: <a href="https://developer.mozilla.org/en/DOM/event.metaKey">event.metaKey</a> maps to ⌘ on Mac and ALT on PC.</p>
    <% elsif randomNum == 9 %>
      <p><strong>CodePen Fact</strong>: We use the .scss varietal of <a href="http://sass-lang.com/">SASS</a> for our stylin' needs of CodePen.</p>
    <% elsif randomNum == 10 %>
      <p><strong>CodePen Fact</strong>: The code editors boxes on CodePen use the open source project <a href="http://codemirror.net/">CodeMirror</a>.</p>
    <% elsif randomNum == 11 %>
      <p><strong>Hot Tip</strong>: You can append /full/ to the URL to get the full page result with no CodePen UI.</p>
    <% elsif randomNum == 12 %>
      <p><strong>Hot Tip</strong>: You can press the alt/option key when your cursor is over a HEX color to get a color picker.</p>
    <% end %>

    <div class="footer-right">
      <a id="keyboard-commands-button">Keyboard</a>
      &ensp;
      <a href="/about">About</a>
    </div>

</footer>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30102653-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>