<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Code Pen &middot; <%= @TITLE %></title>
</head>

<body>
<iframe height="966" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="http://www.w3schools.com"><a href="http://codepen.io">Code Pen Rocks!</a></iframe>
</body>

</html>