		<header class="group">

			<form>

        <h1 class="logo"><a>CodePen.io</a>
				<!--
					<% if logged_in %><span class="slash">/</span><% end %>
        -->
				</h1>
                
        <!--
				<% if logged_in %>
					<input type="text" id="slug" name="slug">
        <% end %>
        -->

				<div class="box-actions">

					<% if @slug %>

						<button id="fork">
							<strong>⌘F</strong> Fork
						</button>

          <% if @owned %>

            <button id="update">
                <strong>⌘U</strong> Update
            </button>

          <% end %>

						<button id="new">
					 		<strong>⌘N</strong> Brand New Pen
					 	</button>	

					<% else %>
						<button id="save">
							<strong>⌘S</strong> Save
						</button>
					<% end %>

				</div> <!-- div.box-actions -->

			</form>

			<div class="app-actions">

        <!--
				<% if not logged_in %>
					<a id="login" href="auth/twitter" class="button">
						Twitter Login
					</a>
				<% else %>
					<a id="logout" href="/logout" class="button">
						Logout
					</a>
        <% end %>
			  -->	
        
        <span class="button" id="app-settings" class="app-settings">
					<a id="app-settings-button" href="#app-settings-panel">
						Settings
					</a>
				</span>

				<section id="app-settings-panel" class="app-settings-panel">

					<!--
					<button id="save-template" class="save-template">Save as Template</button>
					-->
				
					<label for="theme" class="small">Highlighting</label>
					<select id="theme">
						<option value="sublime">sublime</option>
						<option value="codemirror">CodeMirror</option>
					</select>

				</section>

			</div><!-- div.app-actions -->

		</header>