<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Code Pen iFrame</title>
	
	<!-- CSS related content -->
</head>

<body>

<!-- HTML related content -->

<!-- Javascript related content -->
<script>
</script>

<%= js_scripts(['/js/libs/jquery.js', '/js/iframe.js'], 'iframe') %>
</body>

</html>