<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">

	<title>Tinkerbox</title>

	<link href="//get.pictos.cc/fonts/555/1" rel="stylesheet">
	<script src="http://use.typekit.com/nnp0iyi.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" href="stylesheets/css/main.css">

</head>

<body>

	<div class="wrap">

		<header>
			<form>
				<div>
					<h1>Tinkerbox.com/</h1>
					<input type="text" id="slug" name="slug">

					<div class="box-actions">
						<button id="fork" data-icon="f" class="icon">Fork</button>
						<button id="update" data-icon="u" class="icon">Update</button>
						<button id="save" data-icon="c" class="icon">Save as Gist</button>
						<button id="new" data-icon="b" class="icon">Brand New Box</button>	
					</div>			
				</div>
			</form>

			<div class="app-actions">
				<button id="settings" data-icon="s" class="icon">App Settings</button> 
				<button id="login" data-icon="a" class="icon">GitHub Auth</button>
			</div>
		</header>

		<div class="boxes">

			<div class="box-html">

				<h2>1 HTML</h2>
				
				<textarea id="html" class="code-box"><ul>
  <li>Three</li>
  <li>Little</li>
  <li>Pigs</li>
</ul></textarea>

				<div class="settings-panel">

					<a href="#" class="settings-nub icon-replace" data-icon="d" title="Open Settings"><span aria-hidden="true">d</span></a>

					<div class="settings">

						<form>
							<div>
								<input type="radio" id="html-none" checked name="html-preprocessor" value="none">
								<label class="button" for="html-none">None</label>
							</div>
							<div>
								<input type="radio" id="jade" name="html-preprocessor" value="jade">
								<label class="button" for="jade">Jade</label>
							</div>
							<div>
								<input type="radio" id="haml" name="html-preprocessor" value="haml">
								<label class="button" for="haml">HAML</label>
							</div>
						</form>

					</div>

				</div><!-- END div.settings-panel -->
				
			</div><!-- END div.box-html -->

			<div class="handle handle-vert handle-1"></div>

			<div class="box-css">

				<h2>2 CSS</h2>
				
				<textarea id="css" class="code-box">body {
  background: #BADA55;
}
.heavy {
  font-weight: bold;
}</textarea>

				<div class="settings-panel">

					<a href="#" class="settings-nub icon-replace" aria-hidden="true" data-icon="d"><span>d</span></a>

					<div class="settings">
						<form>
							<div>	
								<input type="radio" id="css-none" checked name="css-preprocessor" value="none">
								<label class="button" for="css-none">None</label>
							</div>
							<div>
								<input type="radio" id="less" name="css-preprocessor" value="less">
								<label class="button" for="less">LESS</label>
							</div>
							<div>
								<input type="radio" id="stylus" name="css-preprocessor" value="stylus">
								<label class="button" for="stylus">Stylus</label>
							</div>
							<div>
								<input type="radio" id="scss" name="css-preprocessor" value="scss">
								<label class="button" for="scss">SCSS</label>
							</div>
							<div>
								<input type="radio" id="sass" name="css-preprocessor" value="sass">
								<label class="button" for="sass">SASS with Compass</label>
							</div>
						</form>

						<form>
							<input type="checkbox" id="prefix-free" name="prefix-free">
							<label for="prefix-free">Prefix free</label>
						</form>
					</div>

				</div><!-- END div.settings-panel -->
				
			</div><!-- END div.box-css -->

			<div class="handle handle-vert handle-2"></div>

			<div class="box-js last">

				<h2>3 JS</h2>
				
				<textarea id="js" class="code-box">var d = document,
first = d.querySelectorAll('li');
first[0].classList.add('heavy');</textarea>

				<div class="settings-panel">

					<a href="#" class="settings-nub icon-replace" aria-hidden="true" data-icon="d"><span>d</span></a>

					<div class="settings">
						<form>
							<div>
								<input type="radio" id="js-none" checked name="js-preprocessor" value="none">
								<label class="button" for="js-none">None</label>
							</div>
							<div>
								<input type="radio" id="coffeescript" name="js-preprocessor" value="coffeescript">
								<label class="button" for="coffeescript">CoffeScript</label>
							</div>
						</form>

						<form>
							 <select style="width: 100%;" data-placeholder="JavaScript Library" id="js-select">
						        <option value=""></option> 
						        <option value="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">jQuery 1.7.1</option> 
						        <option value="//ajax.googleapis.com/ajax/libs/mootools/1.4.1/mootools-yui-compressed.js">MooTools 1.4.1</option> 
						        <option value="//ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js">Prototype 1.7.0.0</option> 
          					</select>
          				</form>
					</div>

				</div><!-- END div.settings-panel -->
				
			</div><!-- END div.box-css -->

			<div class="handle handle-horz handle-3"></div>

			<div class="result">

				<h2>4 Result</h2>
				
				<iframe src="" id="result"></iframe>

			</div>

		</div><!--END div.boxes -->

		<footer>
			&copy;2012 Tinkerbox &middot; Code demos copyright their creators &middot; <a href="https://github.com/chriscoyier/Tinkerbox">GitHub</a>

			<div class="footer-actions">
				<button id="keyboard">Keyboard Shortcuts</button>
			</div>
		</footer>

	</div><!-- END div.wrap -->

	<script type="text/javascript">
		

		__templates = {"result":"<!doctype html>\n<html>\n\n<head>\n\t<meta charset=\"UTF-8\">\n\t<title>{{ TITLE }}<\/title>\n\n\t<style type=\"text\/css\">\n\t{{ CSS }}\n\t<\/style>\n<\/head>\n\n<body>\n\n\t{{{ HTML }}}\n\n\t<script src=\"{{{ JSLIB }}}\"><\/script>\n\t<script src=\"{{{ PREFIX }}}\"><\/script>\n\t<script>\n\t\tfunction __run() {\n\t\t\t{{{ JS }}}\n\t\t}\n\t<\/script>\n\n<\/body>\n\n<\/html>"};
		//__templates = <%= @tpl %>;
	</script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="js/codemirror.js"></script>
	<script src="js/mustache.js"></script>
	<script src="mode/javascript/javascript.js"></script>
	<script src="mode/css/css.js"></script>
	<script src="js/chosen.jquery.min.js"></script>
	<script src="js/main.js"></script>

</body>

</html>
