<div id="keycommands">

  <table>
    <tr>
      <td class="command">⌥1</td>
      <td>Open HTML Panel</td>
    </tr>
    <tr>
      <td class="command">⌥2</td>
      <td>Open CSS Panel</td>
    </tr>
    <tr>
      <td class="command">⌥3</td>
      <td>Open JS Panel</td>
    </tr>
  </table>

</div>