<div class="sidebar">

  <div class="module tip">
    <h2>Random Super Fact!</h2>
    <p>CodePen uses <a href="http://ejohn.org/blog/javascript-micro-templating/">JavaScript Micro-Templating</a> by John Resig to build the live demo shown at the bottom of the page.</p>
  </div>

  <div class="module ad">
    <img src="/images/ads/webble.png">
    <p>If you sit at a desk for hours each day, you need Webble, the footrest that moves like a skateboard.</p>
  </div>

</div>