<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title><%%= TITLE %></title>

	<style>
	<%%= CSS %>
	</style>
</head>

<body>

	<%%= HTML %>

	<script src="<%%= JSLIB %>"></script>
	<script src="<%%= PREFIX %>"></script>
	<script>
		function __run() {
			<%%= JS %>
		}
	</script>

	<!-- Add stuff in here about capturing key events and passing them back up? -->

</body>

</html>