<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title><%%= TITLE %></title>

	<%%= CSS_STARTER %>

	<style>
	<%%= CSS %>
	</style>
</head>

<body>

	<%%= HTML %>
	
	<!-- selected JS Library 

			jQuery        
			MooTools
			Prototype
	-->
	<%%= JSLIB %>
	<%%= PREFIX %>
	
	<script>
		function __run() {
		    <%%= JS %>
		}
	</script>
	
	<!-- Add stuff in here about capturing key events and passing them back up? -->

</body>

</html>