<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title><%%= TITLE %></title>

	<style>
	<%%= CSS %>
	</style>
</head>

<body>

	<%%= HTML %>
	
	<!-- selected JS Library -->
	<%%= JSLIB %>
	
	<!-- free fix free library -->
	<%%= PREFIX %>
	
	<script>
		function __run() {
			<%%= JS %>
		}
	</script>
	
	<!-- Add stuff in here about capturing key events and passing them back up? -->

</body>

</html>