<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title><%%= TITLE %></title>

	<%%= CSS_STARTER %>

	<style>
	<%%= CSS %>
	</style>
</head>

<body>

	<%%= HTML %>
	
	<%%= JSLIB %>
	<%%= PREFIX %>
	
	<script>
	    <!-- 
	        alextodo need to figure out how to make this dependent on their actually bieng
	        a JS value, so that it doesn't show'
	    -->
		function __run() {
		    <%%= JS %>
		}
	</script>

</body>

</html>