<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title><%%= TITLE %></title>

	<!-- Load Normalize.css??? http://necolas.github.com/normalize.css/ -->
	<!-- Load Reset??? http://meyerweb.com/eric/tools/css/reset/ -->

	<style>
	<%%= CSS %>
	</style>
</head>

<body>

	<%%= HTML %>
	
	<!-- selected JS Library 

			jQuery        http://code.jquery.com/jquery-latest.js
			MooTools
			Prototype
	-->
	<%%= JSLIB %>
	
	<!-- free fix free library 
      /box-libs/prefixfree.min.js
	-->
	<%%= PREFIX %>
	
	<script>
		function __run() {
		    <%%= JS %>
		}
	</script>
	
	<!-- Add stuff in here about capturing key events and passing them back up? -->

</body>

</html>