<!DOCTYPE html>
<html <%%= HTML_CLASSES %>>

<head>
	<meta charset="UTF-8">
	<title><%%= TITLE %></title>

	<%%= CSS_STARTER %>

	<style>
	<%%= CSS %>
	</style>
	
	<%%= CSS_EXTERNAL %>
</head>

<body>

	<%%= HTML %>
	
	<%%= JSLIBRARY %>
	<%%= PREFIX %>
	<%%= JS_MODERNIZR %>
	<%%= JS_EXTERNAL %>
	
	<script>
	    <%%= JS %>
	</script>

</body>

</html>