<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>User on CodePen</title>
  <link rel="stylesheet" href="/stylesheets/css/main.css">
  <link rel="stylesheet" href="/stylesheets/css/about.css">
</head>

<body class="about">

  <header class="group">

    <form>

      <h1 class="logo"><a href="/">CodePen.io</a></h1>

      <div class="box-actions">

        <a href="/" class="button">
          Brand New Pen
        </a> 

      </div> <!-- div.box-actions -->

    </form>
      
  </header>

  <div class="wrap">

    

  </div>

</body>