[data-theme="codemirror"] .CodeMirror                       { background: white; }
[data-theme="codemirror"] .CodeMirror pre                   { color: black; } // e.g. { }
[data-theme="codemirror"] .CodeMirror pre.CodeMirror-cursor { border-left-color: black; } // cursor

[data-theme="codemirror"] .cm-s-default span.cm-keyword     { color: #708; }
[data-theme="codemirror"] .cm-s-default span.cm-atom        { color: #219; }
[data-theme="codemirror"] .cm-s-default span.cm-number      { color: #164; }
[data-theme="codemirror"] .cm-s-default span.cm-def         { color: #00f; }
[data-theme="codemirror"] .cm-s-default span.cm-variable    { color: black; }
[data-theme="codemirror"] .cm-s-default span.cm-variable-2  { color: #05a; }
[data-theme="codemirror"] .cm-s-default span.cm-variable-3  { color: #085; }
[data-theme="codemirror"] .cm-s-default span.cm-property    { color: black; }
[data-theme="codemirror"] .cm-s-default span.cm-operator    { color: black; }
[data-theme="codemirror"] .cm-s-default span.cm-comment     { color: #a50; }
[data-theme="codemirror"] .cm-s-default span.cm-string      { color: #a11; }
[data-theme="codemirror"] .cm-s-default span.cm-string-2    { color: #f50; }
[data-theme="codemirror"] .cm-s-default span.cm-meta        { color: #555; }
[data-theme="codemirror"] .cm-s-default span.cm-error       { color: #f00; }
[data-theme="codemirror"] .cm-s-default span.cm-qualifier   { color: #555; }
[data-theme="codemirror"] .cm-s-default span.cm-builtin     { color: #30a; }
[data-theme="codemirror"] .cm-s-default span.cm-bracket     { color: #cc7; }
[data-theme="codemirror"] .cm-s-default span.cm-tag         { color: #170; }
[data-theme="codemirror"] .cm-s-default span.cm-attribute   { color: #00c; }
[data-theme="codemirror"] .cm-s-default span.cm-header      { color: #a0a; }
[data-theme="codemirror"] .cm-s-default span.cm-quote       { color: #090; }
[data-theme="codemirror"] .cm-s-default span.cm-hr          { color: #999; }
[data-theme="codemirror"] .cm-s-default span.cm-link        { color: #00c; }