[data-theme="sublime"] {

  .CodeMirror                       { background: #222222; }

  .CodeMirror pre                   { color: #FFFFFF; } // e.g. { }
  .CodeMirror pre.CodeMirror-cursor { border-left-color: white; } // cursor

  .cm-s-default span.cm-keyword     { color: #ffed8c; } // e.g. var
  .cm-s-default span.cm-atom        { color: #9a6e35; } // e.g. [#tag]
  .cm-s-default span.cm-number      { color: #d0782a; } // e.g. 20px
  .cm-s-default span.cm-def         { color: #6d86a5; } // e.g. function([this])
  .cm-s-default span.cm-variable    { color: #ddca7e; } // e.g. margin
  .cm-s-default span.cm-variable-2  { color: #6d86a5; } // e.g. for (key in [this])
  .cm-s-default span.cm-variable-3  { color: blue; }
  .cm-s-default span.cm-property    { color: #eee; } // e.g. getElementById
  .cm-s-default span.cm-operator    { color: blue; }
  .cm-s-default span.cm-comment     { color: #666666; } // e.g. /* test */
  .cm-s-default span.cm-string      { color: #96b38a; } // e.g. href=["val"]
  .cm-s-default span.cm-string-2    { color: blue; }
  .cm-s-default span.cm-meta        { color: #9a6e35; } // e.g. @font-face
  .cm-s-default span.cm-error       { color: #ff0000; }
  .cm-s-default span.cm-qualifier   { color: #555; }
  .cm-s-default span.cm-builtin     { color: #30a; }
  .cm-s-default span.cm-bracket     { color: #cc7; }
  .cm-s-default span.cm-tag         { color: #9a6e35; } // e.g. body
  .cm-s-default span.cm-attribute   { color: #ddca7e; } // e.g. href
  .cm-s-default span.cm-header      { color: blue; }
  .cm-s-default span.cm-quote       { color: blue; }
  .cm-s-default span.cm-hr          { color: blue; }
  .cm-s-default span.cm-link        { color: blue; }

  .CodeMirror-gutter-text pre       { color: #666; }

}