.button, button {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 3px 0 0;
	@include border-radius(5px);
	border: 0;
	@include gradient(#fff, #eee);
	border: 1px solid #ccc;
	@include drop-shadow(1px, 1px, 0, 0, 0.4);
	&:hover, &:focus {
		background: #efefef;
	}
	&:active {
		@include drop-shadow(0,0,0,0,0);
		position: relative;
		top: 1px;
	}
}