.button, button {
	float: left;
	border: 0;
	padding: 12px 16px;
	@include gradient(#fff, #eee);
	border: 1px solid #ccc;
	font-family: "pt-sans-narrow", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	&:hover, &:focus {
		background: #efefef;
	}
	&:active {
		position: relative;
		top: 1px;
	}
	a {
		color: #333;
	}
}

button + button,
button + .button,
.button + button,
.button + .button {
	border-left: 0;
}

.icon:before {
	font-family: 'Pictos Custom';
	content: attr(data-icon);
	font-weight: 400 !important;
	position: relative;
	margin-right: 6px;
	font-size: 21px;
	vertical-align: middle;
	@include border-radius(5px);
}

.icon-replace {
	font-family: 'Pictos Custom';
	font-weight: 400 !important;
}

header button, header .button {
	line-height: 0.8;
}

#fork:before {
	top: 1px;
}
#update:before {
	top: 1px;
}
#save:before {
	top: 2px;
}
#new:before {
	top: 2px;
}
#save {
	margin-right: 10px;
}
#run {
	@include gradient(#2feb7f,#11b101);
	color: white;
	font-weight: bold;
	&:before {
		top: 1px;
	}
	&:focus, &:hover {
		background: #11b101;
	}
}
#app-settings {
	padding-right: 4px;
	margin-right: 10px;
	position: relative;
	z-index: 100;
}
#app-settings-panel {
	z-index: 99;
}
.dropdown {
	&:before {
		font-size: 12px;
	}
}
#login {
	@include gradient(#33BCEF,#019AD2);
	color: white;
	&:before {
		top: 1px;
		left: -2px;
		font-weight: normal;
	}
	&:focus, &:hover {
		background: #019AD2;
	}
}