.button, button {
  float: left;
  border: 0;
  padding: 12px 16px;
  @include gradient(#323232, #272727);
  @include box-shadow((inset 0 1px 0 #3c3c3c));
  @include border-radius(5px);
  border: 1px solid #111;
  white-space: nowrap;
  @include font-stack-bold;
  color: white;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  text-overflow: ellipsis;
  overflow: hidden;
  &:hover, &:focus {
    background: #333;
    @include drop-shadow(0, 2px, 3px, -2px, 0.5);
    strong {
      background: #999;
      color: black;
    }
  }
  &:active {
    position: relative;
    top: 1px;
    @include drop-shadow(0, 0, 0, 0, 0);
  }
  &.active {
    background: black;
    @include border-radiuses(5px, 0, 0, 5px);
  }
  a {
    color: white;
  }
  header div > & {
    height: 40px;
  }
  strong {
    background: #363636;
    text-shadow: none;
    color: #aaa;
    vertical-align: middle;
    padding: 3px 3px 2px 5px;
    @include border-radius(4px);
    @include inner-shadow(1px, 1px, 0, 0, 0.6);
    font-size: 11px;
    letter-spacing: 1px;
    position: relative;
    top: -2px;
    margin-right: 4px;
  }
  &.open {
    background: $settingsPanelBG;;
    @include border-radiuses(5px, 0, 0, 5px);
    color: #333;
    a {
      color: #333;
      text-shadow: none;
    }
  }
}

header button, header .button {
  line-height: 0.8;
}

#fork:before {
  top: 1px;
}
#update {
  margin: 0 10px;
}
#update:before {
  top: 1px;
}
#save {
  margin-left: -1px;
  // @include border-radiuses(5px, 5px, 0, 0);
  // @include box-shadow((inset 1px 1px 0 #3c3c3c));
}
#save:before {
  top: 1px;
  right: 2px;
}
#new:before {
  top: 2px;
}
#save {
  margin-right: 10px;
}
#run {
  @include gradient(#2feb7f,#11b101);
  color: white;
  font-weight: bold;
  @include box-shadow((inset 0 1px 0 rgba(255,255,255,0.4)));
  strong {
    background: white;
    color: #333;
  }
  &:before {
    top: 1px;
  }
  &:focus, &:hover {
    background: #11b101;
  }
}
.save-template {
  width: 100%;
}

.dropdown {
  &:before {
    font-size: 12px;
  }
}
#login {
  padding-left: 43px;
  background: #444 url(/images/octocat.png) 5px 5px no-repeat;
  color: white;
  &:before {
    top: 1px;
    left: -2px;
    font-weight: normal;
  }
  &:focus, &:hover {
    background-color: #ccc;
    background-position: 5px -55px;
    color: #333;
    text-shadow: none;
  }
}
#sharing-button {
  margin-right: 10px;
}