.button, button {
	float: left;
	border: 0;
	padding: 12px 16px;
	@include gradient(white, #ccc);
	@include drop-shadow(0, 3px, 3px, -2px, 0.5);
	font-family: "pt-sans-narrow", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	&:hover, &:focus {
		background: #ddd;
		@include drop-shadow(0, 2px, 3px, -2px, 0.5);
		strong {
			
		}
	}
	&:active {
		position: relative;
		top: 1px;
		@include drop-shadow(0, 0, 0, 0, 0);
	}
	a {
		color: #333;
	}
	header div > & {
		height: 40px;
	}
	strong {
		background: white;
		vertical-align: middle;
		padding: 1px 3px;
		@include border-radius(4px);
		@include inner-shadow(1px, 1px, 0, 0, 0.3);
		font-size: 12px;
		letter-spacing: 1px;
		color: black;
		position: relative;
		top: -3px;
		margin-right: 3px;
	}
}

header button, header .button {
	line-height: 0.8;
}

#fork:before {
	top: 1px;
}
#update:before {
	top: 1px;
}
#save {
	border-left: 1px solid #ccc;
}
#save:before {
	top: 1px;
	right: 2px;
}
#new:before {
	top: 2px;
}
#save {
	margin-right: 10px;
}
#run {
	@include gradient(#2feb7f,#11b101);
	color: white;
	font-weight: bold;
	&:before {
		top: 1px;
	}
	&:focus, &:hover {
		background: #11b101;
	}
}
#app-settings {
	margin-right: 10px;
}
.save-template {
	width: 100%;
}

.dropdown {
	&:before {
		font-size: 12px;
	}
}
#login {
	@include gradient(#33BCEF,#019AD2);
	color: white;
	&:before {
		top: 1px;
		left: -2px;
		font-weight: normal;
	}
	&:focus, &:hover {
		background: #019AD2;
	}
}