@import "functions";
@import "colors";

html, body {
  height: 100%;
  overflow: auto;
}

.wrap {
  padding: 20px 50px 0 20px;
  max-width: 700px;
  color: white;
  p, li {
    font-size: 13px;
  }
  ul {
    margin: 0 0 20px 20px;
  }
  li {
    margin: 0 0 5px 0;
  }
  p {
    margin: 0 0 10px 0;
  }
  a:not(.button) {
    color: #77fff7;
    border-bottom: 1px dotted rgba(255,255,255,0.3);
    &:hover {
      border-bottom: 1px solid white;
    }
  }
  .authors {
    list-style: none;
    margin: 0;
    overflow: hidden;
    img {
      display: block;
      padding: 10px;
      background: rgba(0,0,0,0.2);
      margin: 0 0 5px 0;
    }
    li {
      float: left;
      margin: 0 20px 20px 0;
      padding: 0;
      text-align: center;
    }
  }
  .user & {
    max-width: none;
  }
}

h2 {
  margin: 25px 0 10px 0;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:first-child {
    margin-top: 0;
  }
}

.user-info {
  width: 50%;
  float: left;
  h1 {
    display: block;
  }
}
.avatar {
  float: left;
  margin: 0 20px 0 0;
  width: 35%;
  max-width: 190px;
  img {
    max-width: 100%;
    margin: 0 0 8px 0;
  }
  .button {
    width: 100%;
    text-align: center;
    color: white;
    @include gradient(#669d2c, #4e7623);
    &.following {
      background: #444;
    }
  }
}
.location {
  color: #999;
}
.social-links {
  a {
    color: #999;
    border: 0;
    &:last-child:after {
      content: "";
    }
    &:hover, &:active {
      border: 0;
      color: white;
    }
  }
  a[href^="http://twitter"]:before {
    content: url(/images/icons/twitter.png);
    position: relative;
    top: 1px;
    opacity: 0.5;
    vertical-align: middle;
    margin-right: 3px;
  }
  span {
    margin: 0 2px;
    color: #555;
  }
}
.minibox {
  display: inline-block;
  background: black;
  margin-right: 10px;
  width: 100px;
  text-align: center;
  @include border-radius(10px);
  @include font-stack-bold;
  @extend .emboss-lower;
  strong {
    display: block;
    padding: 5px 0;
    font-size: 32px;
  }
  span {
    display: block;
    background: #444;
    text-transform: uppercase;
    padding: 5px 0;
    @include border-radiuses(0, 10px, 10px, 0);
  }
}

.emboss-lower {
  @include box-shadow((
    0 1px 0 rgba(255,255,255,0.2),
    inset 0 1px 0 black
  ));
}
.owned-pens {
  width: 50%;
  float: right;
  padding: 20px;
  background: #222;
  @include border-radius(10px);
  @extend .emboss-lower;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  iframe {
    border: 0;
    width: 100%;
    height: 125px;
    border: 1px solid rgba(255,255,255,0.2);
  }
}

@media (max-width: 700px) {
  .user-info,
  .owned-pens {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }
}