@import "functions";

@mixin font-stack {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	@include box-sizing();
}

html, body {
	height: 100%;
	overflow: hidden;
}

html {
	background: #f3f3f3;
}

@import "typography";
@import "toolbox";
@import "buttons";
@import "codemirror";
@import "chosen";

//-------------------------------------HEADER
header {
	display: block;
	position: relative;
	padding: 10px 0 10px 15px;
	form {
		float: left;
		* {
			vertical-align: middle;
		}
	}
}
.box-actions {
	display: inline-block;
	margin-left: 20px;
}
#slug {
	border: 0;
	@include font-stack();
	font-size: 12px;
	top: 1px;
	padding: 2px;
	position: relative;
	&:focus {
		outline: 0;
	}
}
.app-actions {
	float: right;
}
.app-settings-panel {
	padding: 10px;
	position: absolute;
	width: 200px;
	@include gradient(#eee, #fff);
	border: 1px solid #ccc;
	button {
		display: block;
		float: none;
		text-align: center;
		margin: 0 0 15px 0;
	}
}

//------------------------------- LAYOUT
.wrap {
	width: 80%;
}
.boxes {
	position: relative;
}
.top-boxes {
	position: relative;
}
.boxes [class^="box-"] {
	width: 33.33333333%;
	float: left;
	height: 350px;
	position: relative;
	> pre {
		position: absolute;
		background: white;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
		resize: none;
		padding: 15px;
		font: 11px Monaco, Courier, MonoSpace;
	}
	h2 {
		@include transition(opacity 0.2s ease);
	}
	&:hover h2 {
		@include opacity(0);
	}
}


// ------------------------------ SETTINGS
.settings-panel {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.settings {
	max-height: 0;
	position: relative;
	background: #dfdfdf;
	width: 100%;
	@include opacity(0);
	@include transition(all 0.3s ease-in-out);
	&.open {
		max-height: 200px;
		display: block;
		@include opacity(1);
	}
	form {
		padding: 10px;
		div {
			display: inline-block;
			margin: 0 1% 2% 0;
			position: relative; 
			min-width: 31%;
			label {
				display: inline-block;
				width: 100%;
			}
		}
	}
	
	input[type=radio] {
		display: none;
	}
	input[type=radio]:checked + label {
		@include drop-shadow(0,0,0,0,0);
		border-color: black;
		position: relative;
		top: 1px;
	}
}
.settings-nub {
	@include gradient(#efefef, #dfdfdf);
	text-align: center;
	display: inline-block;
	margin: 0 0 0 10px;
	@include border-radiuses(8px, 0, 0, 8px);
	color: black;
	span {
		display: inline-block;
		padding: 8px 8px 2px 8px;
		@include transition((all 0.2s ease));
	}
	&.open span {
		@include rotate(180);
		padding: 6px 8px 6px 8px;
	}
	&:active {
		color: red;
	}
	&:hover, &:focus {
		background: #dfdfdf;
	}
}

.result {
	clear: both;
	position: relative;
	iframe {
		border: 0;
		background: white;
		width: 100%;
		height: 100%;
	}
	h2 {
		@include transition(opacity 0.2 ease);
	}
	&:hover h2 {
		@include opacity(0);
	}
}



// --------------------------- HANDLES
.handle {
	position: absolute;
	z-index: 20;
}
.handle-vert {
	background: #F3F3F3 center center no-repeat;
	width: 9px;
	height: 100%;
	top: 0;	
	// cursor: col-resize;
}
.handle-horz {
	background: #F3F3F3 center center no-repeat;
	width: 100%;
	left: 0;
	height: 9px;
	// cursor: row-resize;
}
.handle-1 {
	left: 33.333333%;
	margin-left: -9px;
}
.handle-2 {
	left: 66.6666666%;
	margin-left: -9px;
}
.handle-3 {
	top: 50%;
}

// --------------------------- FOOTER
footer {
	padding: 5px;
	font-size: 14px;
	display: block;
	position: relative;
}
.footer-actions {
	position: absolute;
	right: 6px;
	top: 0;
}