@import "functions";

@mixin font-stack {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	@include box-sizing();
}

html, body {
	height: 100%;
	overflow: hidden;
}

html {
	@include gradient(#333, black);
}

@import "typography";
@import "toolbox";
@import "buttons";
@import "codemirror";
@import "chosen";

//-------------------------------------HEADER
header {
	display: block;
	position: relative;
	padding: 10px 20% 10px 20px;
	background: black;
	form {
		float: left;
		* {
			vertical-align: middle;
		}
	}
}
.box-actions {
	display: inline-block;
	margin-left: 20px;
}
#slug {
	border: 0;
	@include font-stack();
	font-size: 12px;
	top: 1px;
	padding: 2px;
	position: relative;
	&:focus {
		outline: 0;
	}
}
.app-actions {
	float: right;
	min-width: 200px;
	.button, button {
		float: right;
	}
}
.app-settings-panel {
	padding: 10px;
	position: absolute;
	width: 200px;
	z-index: 500;
	@include gradient(#eee, #fff);
	border: 1px solid #ccc;
	button {
		display: block;
		float: none;
		text-align: center;
		margin: 0 0 15px 0;
	}
}

//------------------------------- LAYOUT
.wrap {
	width: 80%;
	padding: 10px 0 0 10px;
}
.boxes {
	position: relative;
}
.top-boxes {
	position: relative;
}
.boxes [class^="box-"] {
	overflow: hidden;
	width: 32.5%;
	height: 100%;
	top: 0;
	position: absolute;
	@include transition((all 0.4s ease));
	> pre {
		position: absolute;
		background: white;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
		resize: none;
		padding: 15px;
		font: 11px Monaco, Courier, MonoSpace;
	}
	&.expanded {
		left: 0;
		width: 100%;
		z-index: 101;
	}
}
.box-html {
	left: 0;
	&.jade {
		h2:after {
			content: " (Jade)";
		}
	}
	&.haml {
		h2:after {
			content: " (HAML)";
		}
	}
}
.box-css {
	left: 33.7%;
	&.scss {
		h2:after {
			content: " (SCSS)";
		}
	}
	&.sass {
		h2:after {
			content: " (SASS w/ Compass)";
		}
	}
	&.stylus {
		h2:after {
			content: " (Stylus)";
		}
	}
	&.less {
		h2:after {
			content: " (LESS)";
		}
	}
}
.box-js {
	left: 67.4%;
	&.coffeescript {
		h2:after {
			content: " (CoffeeScript)";
		}
	}
}


// ------------------------------ SETTINGS
.powers {
	position: relative;
	height: 25px;
	line-height: 25px;
	color: white;
	@include gradient(#666, #333);
	padding: 0 0 0 10px;
}
.settings {
	background: #bfbfbf;
	display: none;
	position: relative;
	@include drop-shadow(0, 20px, 20px, 5px, 0.9);
	&.open {
		display: block;
	}
	form {
		padding: 10px 10px 0 10px;
		div {
			display: inline-block;
			margin: 0 1% 2% 0;
			position: relative; 
			min-width: 31%;
			&.double {
				min-width: 64%;
			}
			label {
				display: inline-block;
				width: 100%;
				position: relative;
				a {
					position: absolute;
					right: 10px;
					top: 50%;
					margin-top: -6px;
					text-align: center;
					font-size: 11px;
					width: 15px;
					height: 15px;
					line-height: 15px;
					@include border-radius(15px);
					background: #999;
					color: white;
					&:hover {
						background: #666;
					}
				}
			}
		}
	}
	input[type=radio].hidden {
		display: none;
	}
	input[type=radio].hidden:checked + label {
		outline: 1px solid black;
		font-weight: 700;
	}
}
.settings-nub, .expander {
	position: absolute;
	bottom: 0;
	right: 0px;
	z-index: 1;
	text-align: center;
	display: inline-block;
	span {
		display: inline-block;
		padding: 0 10px;
		height: 100%;
		background: black;
		color: white;
		@include transition((all 0.2s ease));
		@include rotate(180);
	}
	&.open span {
		@include rotate(0);
		background: #bfbfbf;
		color: black;
		padding-top: 6px;
		position: relative;
		top: 3px;
	}
}
.expander {
	right: 40px;
}
.expanded .expander {
	&:before {
		content: "(ESC) ";
		background: none;
		font-size: 11px;
		color: white;
	}
	span {
		background: white;
		color: black;
	}
}		

.result {
	clear: both;
	position: relative;
	top: 10px;
	iframe {
		border: 0;
		background: white;
		width: 100%;
		height: 80%; // todo: fix
	}
	h2 {
		@include transition(opacity 0.2 ease);
	}
	&:hover h2 {
		@include opacity(0);
	}
}

// --------------------------- FOOTER
footer {
	padding: 5px;
	font-size: 14px;
	display: block;
	position: relative;
	color: white;
	a {
		color: white;
		text-decoration: underline;
	}
}
.footer-actions {
	position: absolute;
	right: 6px;
	top: 0;
}