.last {
	margin-right: 0 !important;
}

.center {
  text-align: center;
}

textarea:focus, textarea:active {
	outline: 0;
}

// Clearfix
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}