body {
	@include font-stack-normal;
}

h1, h2, h3 {
	@include font-stack-bold;
}

h1 {
	display: inline-block;
	color: white;
	font-weight: 400;
}

h2 {
	font-size: 16px;
}

a {
	text-decoration: none;
}

label.small {
	display: block;
	font-size: 12px;
	margin: 0 0 2px 0;
}
label.small-inline {
	font-size: 12px;
	display: inline-block;
	margin-right: 3px;
}
input.fullwidth {
	width: 100%;
}
input[type=text], input[type=url] {
	@include gradient(#eee, #fff);
  padding: 4px 20px 4px 5px;
  outline: 0;
}
